In [1]:
import pandas as pd

In [ ]:
C:\Users\sudha\OneDrive\Desktop\Data Engineering\Darshil Parmar courses\Apache Spark with Databricks\Projects\E-Commerce Project - Azure Data Engineering\Data\6M-0K-99K.users.dataset.public.csv

In [2]:
df = pd.read_csv(r"C:\Users\sudha\OneDrive\Desktop\Data Engineering\Darshil Parmar courses\Apache Spark with Databricks\Projects\E-Commerce Project - Azure Data Engineering\Data\6M-0K-99K.users.dataset.public.csv")

In [3]:
df.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-7279641312655250028,user,Etats-Unis,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,us
1,-1456013578740053406,user,Allemagne,de,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,de
2,9006282053848196165,user,Suède,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,689,3205,106.83,8.9,se
3,-7154634866120535654,user,Turquie,en,3,8,0,0,0,0.0,...,mrs,False,False,False,True,709,3205,106.83,8.9,tr
4,2858299215060733023,user,France,en,3,8,0,0,0,0.0,...,mr,True,False,True,True,709,3205,106.83,8.9,fr

In [5]:
df.count

<bound method DataFrame.count of             identifierHash  type     country language  socialNbFollowers  \
0     -7279641312655250028  user  Etats-Unis       en                  3
1     -1456013578740053406  user   Allemagne       de                  3
2      9006282053848196165  user       Suède       en                  3
3     -7154634866120535654  user     Turquie       en                  3
4      2858299215060733023  user      France       en                  3
...                    ...   ...         ...      ...                ...
98908 -5324380437900495747  user  Etats-Unis       fr                  3
98909 -5607668753771114442  user      France       fr                  3
98910   350630276238833248  user    Belgique       en                  3
98911  2006580738726207028  user      Italie       it                  3
98912 -7621316584087253691  user      Guinée       fr                  3

       socialNbFollows  socialProductsLiked  productsListed  productsSold  \
0                    8                    0               0             0
1                    8                    0               0             0
2                    8                    0               0             0
3                    8                    0               0             0
4                    8                    0               0             0
...                ...                  ...             ...           ...
98908                8                    0               0             0
98909                8                    0               0             0
98910                8                    0               0             0
98911                8                    0               0             0
98912                8                    0               0             0

       productsPassRate  ...  civilityTitle  hasAnyApp hasAndroidApp  \
0                   0.0  ...            mrs      False         False
1                   0.0  ...            mrs      False         False
2                   0.0  ...             mr       True         False
3                   0.0  ...            mrs      False         False
4                   0.0  ...             mr       True         False
...                 ...  ...            ...        ...           ...
98908               0.0  ...             mr      False         False
98909               0.0  ...             mr       True         False
98910               0.0  ...             mr       True          True
98911               0.0  ...            mrs      False         False
98912               0.0  ...             mr       True         False

       hasIosApp hasProfilePicture  daysSinceLastLogin  seniority  \
0          False              True                 709       3205
1          False              True                 709       3205
2           True              True                 689       3205
3          False              True                 709       3205
4           True              True                 709       3205
...          ...               ...                 ...        ...
98908      False              True                 708       3204
98909       True              True                 695       3204
98910      False              True                 520       3204
98911      False              True                 267       3204
98912       True              True                 561       3204

       seniorityAsMonths  seniorityAsYears  countryCode
0                 106.83               8.9           us
1                 106.83               8.9           de
2                 106.83               8.9           se
3                 106.83               8.9           tr
4                 106.83               8.9           fr
...                  ...               ...          ...
98908             106.80               8.9           us
98909             106.80               8.9           fr
98910             106.80               8.9           be
98911             106.80               8.9           it
98912             106.80               8.9           gn

[98913 rows x 24 columns]>

In [44]:
df.count()

identifierHash         20743
type                   20743
countryCode            20710
country                20743
language               20743
socialNbFollowers      20743
socialNbFollows        20743
socialProductsLiked    20743
productsListed         20743
productsSold           20743
productsPassRate       20743
productsWished         20743
productsBought         20743
gender                 20743
civilityGenderId       20743
civilityTitle          20743
hasProfilePicture      20743
seniority              20743
seniorityAsMonths      20743
seniorityAsYears       20743
websiteLongevity       20743
dtype: int64

In [6]:
len(df)

98913

In [10]:
100/2

50.0

In [11]:
101/2

50.5

In [12]:
100//2

50

In [13]:
101//2

50

In [14]:
98913/2

49456.5

In [15]:
98913//2

49456

In [16]:
98913//5

19782

In [17]:
len(df)%5

3

In [20]:
len(df)

98913

In [23]:
len(df)//5 + (1 if len(df) % 5 else 0)

19783

In [18]:
# Calculate the size of each chunk
chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

In [24]:
chunk_size

19783

In [26]:
# Calculate the size of each chunk
chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

# Split the dataframe into chunks and save them
for i in range(5):
    start = i * chunk_size
    end = start + chunk_size
    chunk_df = df.iloc[start:end]
    chunk_df.to_csv(f'C:/Users/sudha/OneDrive/Desktop/Data Engineering/Darshil Parmar courses/Apache Spark with Databricks/Projects/E-Commerce Project - Azure Data Engineering/Data/chunk-data/chunk{i+1}.csv', index=False)

In [37]:
df = pd.read_csv(r"C:\Users\sudha\OneDrive\Desktop\Data Engineering\Darshil Parmar courses\Apache Spark with Databricks\Projects\E-Commerce Project - Azure Data Engineering\Data\users.6M0xxK.2024.public.csv")

In [38]:
df.head()

,identifierHash,type,countryCode,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,...,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasProfilePicture,seniority,seniorityAsMonths,seniorityAsYears,websiteLongevity
0,1920991140,user,us,Etats-Unis,en,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
1,1920860068,user,se,Suède,en,3,8,1,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
2,1920401316,user,it,Italie,fr,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803
3,1919811492,user,dk,Danemark,en,75,10,1968,0,0,...,43,15,M,1,mr,True,3206,106.87,8.91,3803
4,1919025060,user,de,Allemagne,de,3,8,0,0,0,...,0,0,M,1,mr,True,3206,106.87,8.91,3803

In [39]:
df_new.count

<bound method DataFrame.count of        identifierHash  type countryCode     country language  \
0          1920991140  user          us  Etats-Unis       en
1          1920860068  user          se       Suède       en
2          1920401316  user          it      Italie       fr
3          1919811492  user          dk    Danemark       en
4          1919025060  user          de   Allemagne       de
...               ...   ...         ...         ...      ...
20738      3960012706  user          gr       Grèce       en
20739      3959750562  user          fr      France       fr
20740      3959488418  user          es     Espagne       es
20741      3958964130  user          at    Autriche       de
20742      3958701986  user          us  Etats-Unis       fr

       socialNbFollowers  socialNbFollows  socialProductsLiked  \
0                      3                8                    0
1                      3                8                    1
2                      3                8                    0
3                     75               10                 1968
4                      3                8                    0
...                  ...              ...                  ...
20738                  4               10                   54
20739                  3                8                   11
20740                  3                8                    0
20741                  3                8                   70
20742                  3                8                   10

       productsListed  productsSold  ...  productsWished  productsBought  \
0                   0             0  ...               0               0
1                   0             0  ...               0               0
2                   0             0  ...               0               0
3                   0             0  ...              43              15
4                   0             0  ...               0               0
...               ...           ...  ...             ...             ...
20738               0             0  ...              16               0
20739               0             0  ...               0               0
20740               0             0  ...               0               0
20741               0             0  ...               0               0
20742               0             0  ...               0               1

       gender civilityGenderId  civilityTitle hasProfilePicture  seniority  \
0           M                1             mr              True       3206
1           M                1             mr              True       3206
2           M                1             mr              True       3206
3           M                1             mr              True       3206
4           M                1             mr              True       3206
...       ...              ...            ...               ...        ...
20738       M                1             mr              True       2853
20739       M                1             mr              True       2853
20740       M                1             mr              True       2853
20741       M                1             mr              True       2853
20742       M                1             mr              True       2853

       seniorityAsMonths  seniorityAsYears  websiteLongevity
0                 106.87              8.91              3803
1                 106.87              8.91              3803
2                 106.87              8.91              3803
3                 106.87              8.91              3803
4                 106.87              8.91              3803
...                  ...               ...               ...
20738              95.10              7.92              3803
20739              95.10              7.92              3803
20740              95.10              7.92              3803
20741              95.10              7.92              3803
20742              95.10              7.92              3803

[20743 rows x 21 columns]>

In [40]:
len(df)

20743

In [41]:
len(df) % 5

3

In [32]:
20743//5

4148

In [42]:
len(df) // 5 + (1 if len(df) % 5 else 0)

4149

In [43]:

# Calculate the size of each chunk
chunk_size = len(df) // 5 + (1 if len(df) % 5 else 0)

# Split the dataframe into chunks and save them
for i in range(5):
    start = i * chunk_size
    end = start + chunk_size
    chunk_df = df.iloc[start:end]
    chunk_df.to_csv(f'C:/Users/sudha/OneDrive/Desktop/Data Engineering/Darshil Parmar courses/Apache Spark with Databricks/Projects/E-Commerce Project - Azure Data Engineering/Data/chunk-data/chunk{i+5+1}.csv', index=False)